@import url(http://fonts.googleapis.com/css?family=Khand:600);

* { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:before, :after { 
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #333;
  margin: 0;
  font-size: 1.4em;
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: 'Khand', sans-serif;
  font-size: 3em;
}

a {
  color: #457aef;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td, th {
  border: 1px solid #dddddd;
  padding: 8px;
}

ul {
  margin: 20px 0;
  padding: 0;
}

.negative {
  background: #dff0d8;
}

.positive {
  background-color: #f2dede;
}

.pagination {
  text-align: center;
}

.pagination li {
  display: inline;
}

.search {
  width: 600px;
  margin: 20px auto;
  text-align: center;
}

.search input {
  display: block;
  font-size: 1.6em;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 10px;
}

.search button {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 6px 8px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  border-color: #ccc;
  overflow: visible;
  text-transform: none;
  margin-right: 5px;
}