@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);

header h1 {
  font-family: "Racing Sans One", sans-serif;
  font-size: 4em;
  margin: .8em 0;
  text-align: center;
  text-transform: uppercase;
}