<nav>
  <ul class="pager">
    {% if paginator.has_previous %}
      <li class="previous"><a href="?page={{ paginator.previous_page_number }}&order={{ order }}{% if search %}&search={{ search }}{% endif %}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
    {% else %}
      <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Anterior</a></li>
    {% endif %}

    {% if paginator.has_next %}
      <li class="next"><a href="?page={{ paginator.next_page_number }}&order={{ order }}{% if search %}&search={{ search }}{% endif %}">Próximo <span aria-hidden="true">&rarr;</span></a></li>
    {% else %}
      <li class="next disabled"><a href="#">Próximo <span aria-hidden="true">&rarr;</span></a></li>
    {% endif %}
  </ul>
</nav>