{% extends 'base.html' %}

{% block main %}
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th style="width: 250px">Nome</th>
        <th>Preço</th>
        <th>Atualizado em</th>
        <th>Visitado em</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        {% if product.price_difference > 0.0 %}
        <tr class="positive">
        {% elif product.price_difference < 0.0 %}
        <tr class="negative">
        {% else %}
        <tr>
        {% endif %}
          <td><a href="{{ product.company.url }}/produto/{{ product.product_key }}" target="_blank">{{ product.product_key }}</a></td>
          <td>{{ product.name }}</td>
          <td>{{ product.display_price }}</td>
          <td>{{ product.updated_at|date:"d/m/Y H:i:s" }}</td>
          <td>{{ product.visited_at|date:"d/m/Y H:i:s" }}</td>
          <td>{{ product.status }}</td>
          <td><a href="{% url 'price_history' product.product_key %}">Histórico</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}