{% extends 'base.html' %}

{% block main %}
<a href="/" style="display: block; text-align: center">Voltar</a>
<h2 style="text-align: center">{{ product.name }}</h2>

<table style="margin-bottom: 20px">
  <thead>
    <tr>
      <th class="negative">Menor Preço</th>
      <th class="positive">Maior Preço</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="negative" style="text-align: center">{{ lowest_price.display_price }}</td>
      <td class="positive" style="text-align: center">{{ highest_price.display_price }}</td>
    </tr>
  </tbody>
</table>

<table>
  <tr>
    <td valign="top">
      <table border="1">
        <thead>
          <tr>
            <th>Data</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          {% for history in product.get_history %}
            <tr>
              <td>{{ history.date|date:"d/m/Y H:i:s" }}</td>
              <td>{{ history.display_price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </td>
    <td valign="top">
      <div id="price_chart" style="width: 800px; margin: 20px auto"></div>
    </td>
  </tr>
</table>

<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
<script type="text/javascript">
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Data', 'Valor']
      {% for data in chart_data %}
        ,['{{ data.date|date:"d/m" }}',  {{ data.price }}]
      {% endfor %}
    ]);

    var formatter = new google.visualization.NumberFormat({
      prefix: 'R$'
    });

    formatter.format(data, 1);

    var options = {
      backgroundColor: '#F9F9F9',
      title: 'Histórico de Preços',
      hAxis: {title: 'Preço por Data',  titleTextStyle: { color: '#333'} },
      vAxis: {format:'R$###,###,###.00'}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('price_chart'));

    chart.draw(data, options);
  }
</script>

{% endblock main %}